.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

 .dialog {
    padding: 10px;
    color: whitesmoke;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: whitesmoke;
}

